:root {
  --Skin: #f1b34c;
  --Red: #d32015;
  --Brown: #68180f;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.sec-1 {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  width: 720px;
  height: 80vh;
  gap: 3px;
}

.cua14,
.cua15,
.cua16,
.cua30,
.cua31,
.cua32,
.cua47,
.cua48,
.cua57,
.cua58,
.cua60,
.cua70,
.cua72,
.cua73,
.cua74,
.cua76,
.cua77,
.cua78,
.cua86,
.cua89,
.cua90,
.cua91,
.cua93,
.cua94,
.cua95,
.cua103,
.cua104,
.cua105,
.cua106,
.cua119,
.cua120,
.cua121,
.cua122,
.cua123,
.cua124,
.cua125,
.cua161,
.cua162,
.cua177,
.cua178,
.cua179,
.cua194 {
  background-color: var(--Skin);
}

.cua23,
.cua24,
.cua25,
.cua25,
.cua26,
.cua27,
.cua38,
.cua39,
.cua40,
.cua41,
.cua42,
.cua43,
.cua44,
.cua45,
.cua46,
.cua136,
.cua140,
.cua153,
.cua157,
.cua169,
.cua170,
.cua171,
.cua172,
.cua173,
.cua182,
.cua184,
.cua185,
.cua186,
.cua188,
.cua190,
.cua198,
.cua199,
.cua200,
.cua201,
.cua202,
.cua203,
.cua204,
.cua205,
.cua206,
.cua214,
.cua215,
.cua216,
.cua217,
.cua218,
.cua219,
.cua220,
.cua221,
.cua222,
.cua229,
.cua230,
.cua231,
.cua232,
.cua233,
.cua234,
.cua235,
.cua245,
.cua246,
.cua247,
.cua248 {
  background-color: var(--Red);
}

.cua54,
.cua55,
.cua56,
.cua59,
.cua62,
.cua63,
.cua64,
.cua69,
.cua71,
.cua75,
.cua79,
.cua80,
.cua85,
.cua87,
.cua88,
.cua92,
.cua96,
.cua101,
.cua102,
.cua107,
.cua108,
.cua109,
.cua110,
.cua111,
.cua126,
.cua131,
.cua132,
.cua133,
.cua134,
.cua135,
.cua137,
.cua138,
.cua139,
.cua141,
.cua146,
.cua147,
.cua148,
.cua149,
.cua150,
.cua151,
.cua152,
.cua154,
.cua155,
.cua156,
.cua160,
.cua163,
.cua164,
.cua165,
.cua166,
.cua167,
.cua168,
.cua176,
.cua183,
.cua191,
.cua192,
.cua196,
.cua207,
.cua208,
.cua211,
.cua212,
.cua213,
.cua223,
.cua224,
.cua226,
.cua227,
.cua228,
.cua242 {
  background-color: var(--Brown);
}
