html, 
body{
box-sizing: border-box;
font-size: 16px;
font-family: sans-serif;
margin: 0;
}
body{
    background-color: #566590;
    scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
	font-family: "Russo One", sans-serif;
	width: 100%; height: 100%;
}
svg text {
	animation: stroke 5s infinite alternate;
	stroke-width: 2;
	stroke: #365FA0;
	font-size: 100px;
}
@keyframes stroke {
	0%   {
		fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); }
	80%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); stroke-width: 3; }
	100% {
		fill: rgba(72,138,204,1); stroke: rgba(54,95,160,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

.wrapper {background-color: #FFFFFF};

*,
*::after,
*::before {
    box-sizing: inherit;
}
nav{
    box-sizing: border-box;
    margin: 0px;
    top:0;
    background-color: #AED1B2;
    height: 5rem;
    width: 100%;
}

footer{
    box-sizing: border-box;
    margin: 0px;
    bottom: 0;
    background-color: #AED1B2;
    height: 9rem;
    width: 100%;
}

.section-principal{
    height: 200vh;
    width: 80%;
 margin: 0 auto auto auto;
 border-radius: 10px 10px 0 0;
}
.section-contenedora{
    border-radius: 10px 10px 0 0;
    margin: 0;
    height: 200vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8,auto);
    grid-template-rows: repeat(20,auto);
    gap: 10px;
}
.section-contenedora >*{
    margin: 2px 10px 10px 10px;
    border-radius: 10px;
    border: medium solid white ;
    background-color: #856FA0;
}

.main{
    grid-column: 1/7;
    grid-row: 1/9;
}
.aside-1{
    grid-column: 7/9;
    grid-row: 1/2;
}
.aside-2{
    grid-column: 7/9;
    grid-row: 2/4;
}
.shorts{
    grid-column:7/9 ;
    grid-row: 4/5;
}
.aside-3{
    grid-column: 7/8;
    grid-row: 5/9;
}
.aside-4{
    grid-column: 8/9;
    grid-row: 5/9;
}
.content-creator{
    grid-column: 1/7;
    grid-row: 9/11;
}

.video-1{
    grid-column: 7/9;
    grid-row: 9/11;
}
.video-2{
    grid-column: 7/9;
    grid-row: 11/13;
}
.video-3{
    grid-column: 7/9;
    grid-row: 13/15;
}
.video-4{
    grid-column: 7/9;
    grid-row: 15/17;
}
.video-5{
    grid-column: 7/9;
    grid-row: 17/19;
}
.video-6{
    grid-column: 7/9;
    grid-row: 19/21;
}
.comentarios{
    grid-column: 1/7;
    grid-row: 11/21;
}




