html,
body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: sans-serif;
  margin: 0;
}

body {
  background-color: #4e3636;
}

.contenido {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  background-color: #116d6e;
  max-width: 100%;
  width: 90vw;
  height: auto;
  margin: 0px auto;
}

.header,
.contenido {
  border: thick solid #cd1818;
}

.contenido {
  border-top: none;
}

[id] {
  scroll-margin-top: 2ex;
}

/****** Navbar ******/

.header {
  display: flex;
  width: 90vw;
  height: 5em;
  border-bottom: thin solid #000;
  top: 0px;
  margin: 0px auto;
  background-color: #321e1e;
}

.header li {
  list-style-type: none;
  font-size: 2em;
}

.header li a {
  font-family: "Cascadia Code";
  text-decoration: none;
  color: cornflowerblue;
}

.secc-contenedora {
  width: 90%;
  margin: 0px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.secc-enlaces {
  display: flex;
}

.secc-contenedora p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 4rem;
}

/***** Secciones  ******/
.contenido > section {
  display: flex;
  flex-flow: column wrap;
  height: 90vh;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  margin: 2em 5em;
  color: red;
  box-shadow: 10px 20px #cd1818;
}

/******** Seccion 1 ********/

#section1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.cesar {
  max-width: 100%;
  width: auto;
  height: 70%;
  border-radius: 10px;
  filter: invert(20%);
}

p {
  font-size: 20px;
}
@media screen and (max-width: 600px) {
  .cesar {
    width: 150px;
    height: 200px;
  }
  p {
    font-size: 2rex;
  }
  .contenido {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    background-color: turquoise;
    height: 80%;
    width: 80vw;
    margin: 0px auto;
  }

  .contenido > section {
    display: flex;
    flex-flow: column nowrap;
    height: 70%;
    width: 70%;
    background-color: #fff;
    border-radius: 10px;
    margin: 2em 5em;
    color: red;
    padding: 1em;
  }
}
