html,
body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: sans-serif;
  margin: 0;
}

body {
  background-image: url(assets/img-galaxy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.contenido {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  background-color: steelblue;
  height: 100%;
  width: 90vw;
  margin: 0px auto;
}

h1 {
  text-align: center;
  font-family: "Yatra One";
  font-size: 70px;
  margin: 30px auto;
}

/****** Navbar ******/

.header {
  display: flex;
  width: 90vw;
  height: 5rem;
  border-bottom: thin solid #000;
  top: 0px;
  margin: 0px auto;
  background-color: slateblue;
}

.secc-contenedora {
  width: 90%;
  margin: 0px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}

.secc-anclas > * {
  width: 114px;
  height: 60px;
}

.secc-enlaces {
  display: flex;
}

/***** Secciones  ******/
.contenido > section {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  border-radius: 10px;
  margin: 2em 5em;
  box-shadow: 10px 10px;
}
